<% layout("/layouts/boilerplate") %>

<!-- <div class="row"> -->

    <div class="alert alert-danger" role="alert" style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">
        <h6><%= message  %></h6>
      </div>
<!-- </div> -->