<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3 mb-4">Login</h1>
    <div class="col-6 offset-3">


<form action="/login" method="post" class="needs-validation" novalidate>
    <div>
        <label for="username" class="form-label mt-4">Username</label>
        <input type="text" name="username" placeholder="Enter Title" class="form-control" required>
        <div class="valid-feedback">
             Looks Good!
          </div>
          <div class="invalid-feedback">
           Enter a valid username
          </div>


        <label for="password" class="form-label mt-4">Password</label>
        <input type="password" name="password" placeholder="Enter password" class="form-control" required>
        <div class="valid-feedback">
             Looks Good!
          </div>
          <div class="invalid-feedback">
           Enter a valid password!
          </div>
</form>

<button class="btn btnsignuplogin mt-4" style="margin-bottom: 6.6rem;">Signup</button>
    </div>
</div>